@supports (display: block){
    
}

body{
    background: black;
    color: white;
    font-family: Arial;
}

.register-box{
    position: relative;
    top: 50px;
    display: block;
    margin: 0 auto;
    background: rgb(22, 0, 62);
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 12px;
}

.form-title{
    margin-bottom: 0px;
    margin-top: 20px;
}

.form-description{
    margin-bottom: 35px;
    margin-top: 10px;
}


.register-box form input{
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
    height: 40px;
    border: none;
    background-color: rgb(59, 47, 81);
    border-radius: 6px;
    color: white;
    box-sizing: border-box;
    padding-left: 10px;
}

.register-box form input::placeholder{
    color: white;
}

.register-box form input[type="submit"]{
  background-color: rgb(0, 140, 255);
  color: white;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
}

.register-box form input[type="text"]:focus,
.register-box form input[type="text"]:active,
.register-box form input[type="email"]:focus,
.register-box form input[type="email"]:active,
.register-box form input[type="password"]:focus,
.register-box form input[type="password"]:active{
   color: white;
}